.short-answer {
  background: #f4f9f9;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  color: #000;
}

.short-answer-input {
  border: none;
  border-bottom: 1px dotted #919191;
  background-color: transparent;
  width: 100%;
  font-size: 1.4rem;
  color: #000;
  pointer-events: none;
  margin-bottom: 10px;
}

.correct {
  color: #1e8e3e !important;
}

.incorrect {
  color: #d93025 !important;
}
