.question-multiple-choice {
  background: #f4f9f9;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 0.5px solid #f4f9f9;
}

.option-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.list-option {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.answer-description {
  padding-top: 2rem;
  width: 40%;
}

.option {
  display: flex;
  align-items: center;
  font-size: 1.7rem;
}

.option .radio {
  width: 3rem;
}

.option .option-input {
  border: transparent;
  outline: none;
}

.brise-input {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.brise-input input {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-size: 16px;
  position: relative;
  z-index: 5;
  background: none;
  border-radius: 0;
}

.brise-input .line {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #0677ba;
  left: -999px;
  transition: 0.25s;
  opacity: 0;
  z-index: 6;
}

.brise-input input:focus ~ .line {
  left: 0;
  opacity: 1;
}

.add-option {
  border-radius: 50% !important;
  margin-top: 5px !important;
  align-self: flex-end !important;
}

.question-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.answer-key {
  gap: 10px;
  display: flex;
  align-items: center;
}

.delete-question {
  font-size: 3rem;
}

.action {
  display: flex;
  gap: 5px;
}
