.multi-choice {
  background: #f4f9f9;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.btn-radio {
  font-size: large;
}

.ant-checkbox-group-item {
  display: flex;
  margin-right: 0;
  font-size: x-large;
}

.ant-radio-wrapper {
  padding: 5px;

}

.ant-space-item .btn-radio-disabled {
  pointer-events: none;
}

.correct {
  color: #1e8e3e !important;
}

.incorrect {
  color: #d93025 !important;
}

.radio-group,
.radio-item {
  width: 100%;
}

.ans-incorrect,
.ans-correct {
  width: 100%;
  border-radius: 5px;
}


.ans-incorrect {
  background-color: #fadad7;
}

.ans-correct {
  background-color: #d3edda;
}

.ans-correct span:not([class]),
.ans-incorrect span:not([class]) {
  display: flex;
  align-items: center;
  width: 100%;
}

.item-answer {
  margin: 0;
}

.answer-icon {
  margin-left: auto;
}
